# Tutorial on working with different types of files in python

## Importing necessary libraries

In [25]:
import pandas as pd
import numpy as np

# Flat Files

## 1. CSV file (.csv)

### Method 1:

In [26]:
file1="datasets/sp500.csv"
df1 = pd.read_csv(file1)
df1.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,02/01/2015,2058.899902,2072.360107,2046.040039,2058.199951,2708700000,2058.199951
1,05/01/2015,2054.439941,2054.439941,2017.339966,2020.579956,3799120000,2020.579956
2,06/01/2015,2022.150024,2030.250000,1992.439941,2002.609985,4460110000,2002.609985
3,07/01/2015,2005.550049,2029.609985,2005.550049,2025.900024,3805480000,2025.900024
4,08/01/2015,2030.609985,2064.080078,2030.609985,2062.139893,3934010000,2062.139893

### Method 2:

In [ ]:
df2 = np.recfromcsv(file1, delimiter=',', names=True)

## 2. Text File (.txt)

### First method:

In [28]:
file2= "datasets/sp500.txt"
d1 = np.loadtxt(file2, delimiter=',', skiprows=1, dtype=str)  #this method only good for one datatype

### Second Method

In [ ]:
d2 = np.genfromtxt(file2, delimiter=',', dtype=None, names=True)

## Excel Files (.xlsx)

In [30]:
file3 = "datasets/agriculture-residues.xlsx"
d4 = pd.ExcelFile(file3)
df3 = d4.parse('Agriculture Residues', skiprows=[1])  # can also add 'names'(for columns) and 'usecols' parameters and provide them a list
df3.head(3)

,CEREAL STRAW RESIDUES,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,ASGS 2011 - ABS SA4,Adelaide - Central and Hills,Cereal Straw Residue Volumes,Tonnes,Average annual straw residues Potentially Avai...,2014 - 2015,1852,1310,92,210,450,1100,0,0,0,0,759,2926.0
1,ASGS 2011 - ABS SA4,Adelaide - North,Cereal Straw Residue Volumes,Tonnes,Average annual straw residues Potentially Avai...,2014 - 2015,26600,18600,2400,5600,5600,13000,0,0,0,0,10906,42028.0
2,ASGS 2011 - ABS SA4,Adelaide - South,Cereal Straw Residue Volumes,Tonnes,Average annual straw residues Potentially Avai...,2014 - 2015,0,0,0,0,0,0,0,0,0,0,0,0.0

## Pickle Files (.pkl)

In [ ]:
import pickle
file5 = "datasets/**.pkl"    #pickle file not added
with open(file5, 'rb') as file:  
    #execute all statements within this to avoidclosing the file later. #'rb'= read binary
    df5 = pickle.load(file)
    df5.head(3);

## SAS (Statistical Analysis System) and Stata files

In [ ]:
#Sas file
from sas7bdat import SAS7BDAT
file6= "datasets/**.sas7bdat"
with SAS7BDAT(file6) as file:
    df6 = file.to_data_frame()

# Stata file
file7= "datasets/**.dta"
df7 = pd.read_stata(file7)

## HDF5 (Heirarichal data format version-5) files

In [ ]:
import h5py
filename = "datasets/**.hdf5"
data = h5py.File(filename, 'r')   #'r'= read mode
for key in data.keys():
    print(key)

## MATLAB (.mat) files

In [ ]:
import scipy.io
filename = "datasets/**.mat"
mat = scipy.io.loadmat(filename)
for key in mat.keys():
    print(key)

# Relational Databases

## SQL Lite

In [2]:
from sqlalchemy import create_engine
engine = create_engine("sqlite:///***.sqlite")
print(engine.table_names())

In [ ]:
from sqlalchemy import create_engine
engine = create_engine("sqlite:///***.sqlite")
con= engine.connect()
rs= con.execute("SELECT * FROM Filename")
df= pd.DataFrame(rs.fetchall())
con.close()

In [ ]:
#using context manager
with engine.connect() as con:
    rs = con.execute("SELECT LastName, Title FROM Employee WHERE Country = 'Canada'")
    df = pd.DataFrame(rs.fetchmany(size=2))
    df.columns = rs.keys()

print(len(df))

print(df.head())

### Another method

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("sqlite:///Chinook.sqlite")

df= pd.read_sql_query("SELECT * FROM Employee WHERE EmployeeId >=6 ORDER BY Birthdate", engine)

print(df.head())

In [ ]:
df= pd.read_sql_query("SELECT * FROM PlaylistTrack INNER JOIN Track on PlaylistTrack.TrackId = Track.TrackId WHERE Milliseconds < 250000", engine)

print(df.head())